*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;

    &:hover {
        color: hsl(5, 85%, 63%);
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
ul,
ol,
li {
    // list-style-type: none;
    list-style: none;

    margin: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
